## coding=utf-8
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap-theme.min.css">
    <script src="/static/bootstrap/jquery.min.js"></script>
    <script src="/static/bootstrap/bootstrap.min.js"></script>

    <!-- jsTree -->
    <link rel="stylesheet" href="/static/jstree/themes/default/style.min.css" />
    <script src="/static/jstree/jquery.min.js"></script>
    <script src="/static/jstree/jstree.min.js"></script>

    <!-- echarts -->
    <script src="/static/echarts/echarts-all.js"></script>

    <div class="container-fluid">
        ## {% block head %}{% endblock %}
        <%block name="head">
        </%block>
    </div>
</head>
<body>
    <div class="container-fluid">
        ## {% block body %}{% endblock %}
        <%block name="body">
        </%block>
    </div>
</body>
</html>
