<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap-theme.min.css">
    <script src="/static/bootstrap/jquery.min.js"></script>
    <script src="/static/bootstrap/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/jstree/themes/default/style.min.css" />
    <script src="/static/jstree/jquery.min.js"></script>
    <script src="/static/jstree/jstree.min.js"></script>

    <script src="/static/echarts/echarts-all.js"></script>

</head>
<body>
    <h3>Mako Template</h3>
    <div class="container-fluid">
        ${data['k']}
    </div>
</body>
</html>
